*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(121, 235, 235);
    display: flex;
    justify-content: center;
}

.board {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(0, 0, 0);
}


.square {
    color: rgb(214, 25, 25);
    
    
}

.col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    height: 50px;
}

.direct {
    flex-direction: row-reverse;
}


.square-black {
    background-color: rgb(210,105,30);
}
/* .square-black > div {
    background-color: rgb(11, 14, 15);
} */
.square-white {
    background-color: rgb(231, 217, 137);
}
.white {
    background-color: whitesmoke;
}
.black {
    background-color: black;
}


.soldier {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all;
}

.soldier:hover {
    background-color: gray;
    transition: 0.5s;
}